<div class="mt-extra">
  <h1 id="title" class="text-center text-italic">
    {{inline-svg "ember-logo" width="100px" height="35px"}}
    <span class="text-shimmer">Waypoint</span>
  </h1>
  <div class="social-links">

  </div>
</div>

<div class="app-container">
  {{outlet}}
</div>